h1{
  color: white;
}
.tamaño{
  width: 70vw;
  margin-left: 13vw;
  height: 30vw;
}
h1{
  margin: 2vh 0 0 4vw;
}
img{
  border-radius: 25px;
}
.carousel-item  a{
  position: absolute;
  margin-left: 32vw;
  margin-top: 12vw;
  font-size: 2rem;
  background: black;
  padding:  0.1vh 0.3vw;
  border-radius: 12px;
}