.courses-list {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-item {
  padding: 15px;
  border-bottom: 1px solid #0a0606;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-item h3 {
  margin: 0;
  flex: 2;
}

.course-item p {
  margin: 0;
  flex: 1;
}

.edit-btn, .delete-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}
