.input-group .form-control.buscador {
  height: 1vh; /* Ajusta la altura según tus necesidades */
}

.input-group .input-group-append .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0;
  background: transparent;
  border: none;
  height: 1vh; /* Debe coincidir con la altura del input */
}
.input-group-append img{
  width: 10vh;
}

/* estilos del ejemplo - ESTILOS DEL EJEMPLO */
.card-custom {
  border-radius: 10px;
  background-color: #8ed4e0;
  border: none;
}
.profile-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.btn-custom {
  background-color: #ff4892;
  color: white;
  border-radius: 20px;
}