.tamaño {
  width: 80%;
  height: 70vh;
}
h1{
  margin: 2vh;
  color: white;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: white;
  text-shadow: 3px 3px 5px black, -3px -3px 5px black;
  font-size: 3vw;
  text-align: center;
  width: 100%;
  text-decoration: none; /* Opcional: quitar subrayado */
}