body {
  font-family: Arial, sans-serif;
  background-color: #eaf2f8;
}

.banner-section {
  margin-top: 5vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-section img {
  width: 60%;
  height: 70vh;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

.banner-text h1 {
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.tecsup-section {
  background-color: #a9cce3;
  padding: 30px;
  border-radius: 10px;
}

.tecsup-logo {
  width: 150px;
  height: auto;
}

.options-section {
  background-image: url("../assets/img/section2.png");
  padding: 30px;
  height: 70vh;
  border-radius: 10px;
}

.btn-danger, .btn-primary {
  position: relative;
  top: 10vw;
  width: 200px;
  height: 60px;
  font-size: 1.2em;
}
