.Cajas{
  display: flex;
  width: 90%;
  height: 32vw;
  margin: 2vw 5vw;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.Cajas div:not(.fila,.click){
  margin: 1vw;
  width: 40%;
  height: 28vw;
}
.photo{
  display: flex;
  justify-content: center;
  background: #0854C5;
  padding: 0;
  border-radius: 10px;
}
.photo img{
  width: 30vw;
}
/* --------------------------------------------- */
.Datos{
  width: 30vw;
  padding-top: 6vw;
}
.fila{
  /* padding-left: 6vw;
  padding-top: 2vw; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vh;
  color: white;
  margin-bottom: 3vh;
  padding: 0 2vw 0 2vw ;
}
.click{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FF006E;
	color: white;
	height: 20px;
	border-radius: 4vw;
	padding: 3vh 5vw;
	margin: 5vw 11vw;
  bottom: 10vh;
  position: relative;
}
.fila input{
  width: 25vw;
  height: 5vh;
  padding: 1vw;
  border: none;
  border-radius: 7px;
}
/* estilos extra de el botón de Google y el olvide mi contraseña */
.extra{
  position: relative;
  margin-top: 8vh;
}
/* este es el estilo de el icono de Google */
.Google{
  width: 2vw;
  position: relative;
  bottom: 2vh;
  padding-right: 0.3vw;
}
