.profile-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #88BBBF;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.stars {
  margin: 10px 0;
  font-size: 20px;
  color: gold;
}

.bio {
  margin: 10px 0;
  color: #666;
}

.statistics p {
  margin: 5px 0;
}

.course-publication {
  flex: 1;
}

.course-publication h2, .courses-list h2 {
  text-align: center;
  margin-bottom: 20px;
}

.course-publication form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-publication label {
  margin-bottom: 5px;
  font-weight: bold;
}

.course-publication input, .course-publication select, .course-publication textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.course-publication button {
  padding: 10px;
  background-color: #FF006E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.course-publication button:hover {
  background-color: #575757;
}

.courses-list {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-item h3 {
  margin: 0;
  flex: 2;
}

.course-item p {
  margin: 0;
  flex: 1;
}

.edit-btn, .delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
  margin-right: 5px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}
