/* Estilos básicos para el layout */
.main-container {
  font-family: 'Arial', sans-serif;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f5f5f5;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #2d3e50;
}

.content-container {
  margin-top: 20px;
  display: flex;
}

.form-section {
  padding: 20px;
  background-color: #f8f9fa;
}

.form-section h2 {
  margin-bottom: 20px;
}

.register-form .form-group {
  margin-bottom: 15px;
}

.register-form .form-control {
  border-radius: 5px;
}

.info-section {
  padding: 20px;
  background: #A5CFBB;
}

.info-section h2 {
  margin-bottom: 20px;
}

.info-list {
  list-style: none;
  padding: 0;
}

.info-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-list .icon-placeholder {
  width: 20px;
  height: 20px;
  background-color: #c4c4c4;
  margin-right: 10px;
}

.footer {
  display: flex;
  justify-content:space-evenly;
  padding: 20px;
  background-color: #83b09B;
  font-size: 14px;
}

.footer-links, .footer-legal {
  display: flex;
  flex-direction: column;
}

.footer-links a, .footer-legal a {
  text-decoration: none;
  color: #2d3e50;
  margin-bottom: 10px;
}

.footer-links a:hover, .footer-legal a:hover {
  text-decoration: underline;
}
.main-container {
  background-color: #f2f1f1; /* Fondo blanco para todo el contenedor principal */
  min-height: 100vh; /* Asegura que cubra toda la pantalla */
}

.content-container {
  background-color: #e4e1e1; /* Fondo blanco específicamente para el contenido */
  padding-top: 0; /* Elimina padding extra si es necesario */
  margin-top: 0; /* Asegura que no haya margen */
}
