body{
  margin: 0;
  background-color: #46AEDC;
}
nav{
  height: 16vh;
  margin: 0;
  box-shadow: 3px 3px 5px black;
}

a{
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-weight: bold;
}
button{
  background: none;
  border: none;
}
img{
  width: 16vw;
  margin-top: 1.1vw;
}
li{
  float: right;
  list-style-type: none;
}